@import url('../fonts/index.css');

#app {
    font-family: Vazir, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html {
    font-size: 62.5%;
    line-height: 1.5rem;
    direction: rtl;
    height: 100%;
    font-family: Vazir, sans-serif;
  }
  
  body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  input {
    font: inherit;
  }